*{
    margin: 0;
    padding: 0;
}
div {
    padding-bottom: 10px;
}

div {
    width: 500px;
    padding: 20px 30px;
}
div img {
    width: 200px;
    float: right;
    padding: 10px;
}
div p {
    text-align: justify;
}