*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    background: url("../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header section{
    width: 90%;
    margin: auto;
}
header section .logo{
    padding: 30px 40px;
    color: white;
    font-weight: 900;
    float: left;
}
.clear{
    clear: both;
}
header section nav{
    padding: 30px 40px;
    float: right;
}
nav ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.active{
    background-color: black;
    padding: 15px;
    border-radius: 20px;
}
nav ul li a:hover{
    background-color: black;
    padding: 15px;
    border-radius: 20px;
}

.banner_content{
    width: 100%;
    margin: 12% auto;
    text-align: center;
}
.banner_content h1{
    font-size: 80px;
    color: white;
}
.banner_content p{
    font-size: 20px;
    color: red;
}
.banner_content a{
    background-color: purple;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
}
.banner_content a:hover{
    background-color: white;
    color: grey;
}
