*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    background-color: grey;
    height: 208px;
    text-align: center;
}
header h2{
    font-size: 50px;
    color:white;
    padding: 79px;
}
aside {
    float: left;
    background-color: grey;
    width: 30%;
    height: 300px;
}
aside nav{
    margin: 20px 30px;
}
aside nav ul {
    list-style: none;
}
aside nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    
}
nav ul li a:hover {
    background-color: white;
    color: black;
}
footer {
    clear: both;
    background-color: gray;
    text-align: center;
}
footer p {
    padding: 40px 0px;
}
article{
    float: left;
    width: 60%;
    padding: 30px 40px;
}
article h2{
    margin-bottom: 10px;

}
article p {
    margin-top: 10px;
}