*{
    margin: 0px;
    padding: 0px;
}
.container {
    border: 6px solid black;
    display: inline-flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    height: 400px;
    width: 100%;
}
.flex-item {
    color: white;
    font-size: 24px;
    padding: 16px;
    text-align: center;
}
.item-1{
    background-color: chartreuse;
}
.item-2{
    background-color: red;
}
.item-3{
    background-color: blue;
}
.item-4{
    background-color: green;
}
.item-5{
    background-color: salmon;
}
.item-6{
    background-color: gold;
}
.item-7{
    background-color: lightseagreen;
}
.item-8{
    background-color: navy;
}